;Delayers...
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "lv1trig"
	}
	insert:
	{
		"OnStartTouch" "Delay,Enable,,80,1"
		"OnStartTouch" "AFKHelper,Enable,,105,1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "AFKHelper"
	}
	replace:
	{
		"speed" "260"
	}
}

;For above and stopmusic fix.
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "end"
	}
	delete:
	{
		"OnSpawn" "sndVolume1041"
		"OnSpawn" "snd2Volume101281"
	}
	insert:
	{
		"OnSpawn" "AFKHelper,Enable,,65,1"
		"OnSpawn" "snd,PlaySound,,4,1"
		"OnSpawn" "snd2,PlaySound,,128,1"
	}
}
